<script type="text/javascript" ">
setInterval(function(){
  $.ajax({
  	method: "GET",
  	url: "/campaigns.js"
  });
}, 30000);
</script>

	<div id="of_campaigns">
		<%= @campaigns.count %>
	</div>
    
    <p id="list_of_campaigns"><%= @campaigns.count %></p>
