<script type="text/javascript" ">
setInterval(function(){
  $.ajax({
  	method: "GET",
  	url: "<%= campaign_path(@campaign)%>",
  	dataType: "script"
  });
}, 30000);
</script>
<div id="show_camp">
	The Campaigns Would be updated here.
</div>
