<div class="header navbar navbar-inverse navbar-fixed-top">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
	 <div class="container-fluid">
		<!-- BEGIN LOGO -->
		<a class="brand" href="index.html">
		<img src="assets/logo.png" alt="logo" />
		</a>
		<!-- END LOGO -->
		<!-- BEGIN HORIZANTAL MENU -->
		<div class="navbar hor-menu hidden-phone hidden-tablet">
		   <div class="navbar-inner">
			  <ul class="nav">
				 <li class="visible-phone visible-tablet">
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search">
					   <div class="input-box">
						  <a href="javascript:;" class="remove"></a>
						  <input type="text" placeholder="Search..." />
						  <input type="button" class="submit" value=" " />
					   </div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				 </li>
				 <li>
					<a href="index.html">
					Home
					</a>
				 </li>
				 <li  class="active">
					<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
					<span class="selected"></span>
					Campaigns
					<span class="arrow"></span>
					</a>
					<ul class="dropdown-menu">
								 <li class="dropdown-submenu">
						  <a href="javascript:;">
						  by Subject
						  <span class="arrow"></span>
						  </a>
						  <ul class="dropdown-menu">
							
							 <li class="dropdown-submenu">
								<a href="javascript:;">Health<span class="arrow"></span></a>
								<ul class="dropdown-menu">
								   <li><a href="index.html">Safe Food</a></li>
								   <li><a href="index.html">Clean Water</a></li>
								   <li><a href="index.html">Medical Care</a></li>
								   <li><a href="index.html">Alternative Treatments</a></li>
								   
								</ul>
							 </li>
							 
								  <li class="dropdown-submenu">
								<a href="javascript:;">Government<span class="arrow"></span></a>
								<ul class="dropdown-menu">
								  
								  
									   <li class="dropdown-submenu">
								<a href="javascript:;">Congress<span class="arrow"></span></a>
								<ul class="dropdown-menu">
								   <li><a href="index.html">Free Speech</a></li>
								   <li><a href="index.html">Gun Rights</a></li>
								   <li><a href="index.html">4th Amendment</a></li>
								   <li><a href="index.html">Immigration</a></li>
								   
								</ul>
							 </li>
								  
									  <li class="dropdown-submenu">
								<a href="javascript:;">Executive Branch<span class="arrow"></span></a>
								<ul class="dropdown-menu">
								   <li><a href="index.html">Executive Orders</a></li>
								   <li><a href="index.html">Pardons</a></li>
								   <li><a href="index.html">Treaties</a></li>
								   <li><a href="index.html">Justice Department</a></li>
								   
								</ul>
							 </li>
								  
								  
							  
								</ul>
							 </li>
							 
							 <li class="dropdown-submenu">
								<a href="javascript:;">Environmental<span class="arrow"></span></a>
								<ul class="dropdown-menu">
								   <li><a href="index.html">Global Warming</a></li>
								   <li><a href="index.html">Fracking</a></li>
								   <li><a href="index.html">Geo Engineering</a></li>
								   <li><a href="index.html">Alternative Treatments</a></li>
								   
								</ul>
							 </li> 
							 
								 <li class="dropdown-submenu">
								<a href="javascript:;">Privacy<span class="arrow"></span></a>
								<ul class="dropdown-menu">
								   <li><a href="index.html">Smart Meters</a></li>
								   <li><a href="index.html">Big Brother</a></li>
								</ul>
							 </li> 
							 
								 <li class="dropdown-submenu">
								<a href="javascript:;">Political Elections<span class="arrow"></span></a>
								<ul class="dropdown-menu">
								   <li><a href="index.html">Federal</a></li>
								   <li><a href="index.html">State</a></li>
								   <li><a href="index.html">Local</a></li>                                       
								</ul>
							 </li> 
							 
							 
								 
							 
							 <li><a href="index.html">Groups / Organizations</a></li>
							 <li><a href="index.html">Personal / Individual</a></li>
						 
							 
						 
						  </ul>
					   </li>
					   
					   
					   
					   
					   
					   
						<li class="dropdown-submenu">
						  <a href="javascript:;">
						  by Feature
						  <span class="arrow"></span>
						  </a>
						  <ul class="dropdown-menu">
							
							 <li>
								<a href="javascript:;">Connect To Elected Official</a>
							 </li>
							   <li>
								<a href="javascript:;">Connect To Live Agent</a>
							 </li>
							  <li>
								<a href="javascript:;">Audio Comment Rant Line</a>
							 </li>
							  <li>
								<a href="javascript:;">Survey / Polls</a>
							 </li>
							  <li>
								<a href="javascript:;">Radio & TV Call-In Shows</a>
							 </li>
							  <li>
								<a href="javascript:;">Self-Help Information Menu</a>
							 </li>
							  <li>
								<a href="javascript:;">Private Group Messaging</a>
							 </li>
							  <li>
								<a href="javascript:;">Text to Speech Reader</a>
							 </li>
								</ul>
							 </li>
				   
					</ul>
					<b class="caret-out"></b>
				 </li>
				
				 <li>
					<a data-toggle="dropdown" class="dropdown-toggle" href="">Special Features
					<span class="arrow"></span>
					</a>
					<ul class="dropdown-menu">
					   <li><a href="index.html">Alerts</a></li>
					   <li><a href="index.html">Talk Show Call-In</a></li>
					   <li><a href="index.html">Private Group Messaging</a></li>
					   <li><a href="index.html">Text To Speech Reader</a></li>
			   
					</ul>
					<b class="caret-out"></b>
				 </li>
				 
				
				  <li>
					<a href="">Donate</a>
				 </li>
				 <li>
					<a href="">About</a>
				 </li>
				
				 <li>
					<span class="hor-menu-search-form-toggler">&nbsp;</span>
					<div class="search-form hidden-phone hidden-tablet">
					   <form class="form-search">
						  <div class="input-append">
							 <input type="text" placeholder="Search..." class="m-wrap">
							 <button type="button" class="btn"></button>
						  </div>
					   </form>
					</div>
				 </li>
			  </ul>
		   </div>
		</div>
		<!-- END HORIZANTAL MENU -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
		<img src="assets/menu-toggler.png" alt="" />
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<ul class="nav pull-right">
		   
		   <!-- BEGIN USER LOGIN DROPDOWN -->
		   <li class="dropdown user">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			  <img alt="" src="assets/avatar1_small.jpg" />
			  <span class="username">Bob Nilson</span>
			  <i class="icon-angle-down"></i>
			  </a>
			  <ul class="dropdown-menu">
				 <li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
				 <li><a href="calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
				 <li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox(3)</a></li>
				 <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
				 <li class="divider"></li>
				 <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
			  </ul>
		   </li>
		   <!-- END USER LOGIN DROPDOWN -->
		</ul>
		<!-- END TOP NAVIGATION MENU -->
	 </div>
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->

